@charset "ISO-8859-1";
#title {
	width: 100%;
	text-align: center;
	/*+placement: -2px -8px;*/
	position: relative;
	left: -2px;
	top: -8px;
}

#userlogin {
	position: absolute;
	top: 10px;
	right: 160px;
}

#user1 {
	text-align: left;
	/*+placement: -28px 1px;*/
	position: relative;
	left: -28px;
	top: 1px;
}

h2 {
	text-align: center;
	/*+placement: 5px -11px;*/
	position: relative;
	left: 5px;
	top: -11px;
}

#usersignin {
	text-align: center;
}

#user {
	/*+placement: -71px -18px;*/
	position: relative;
	left: -71px;
	top: -18px;
}

#pass {
	text-align: center;
	/*+placement: 117px -162px;*/
	position: relative;
	left: 117px;
	top: -162px;
}

#input1 {
	/*+placement: 12px -65px;*/
	position: relative;
	left: 12px;
	top: -65px;
}

#input2 {
	/*+placement: 155px -204px;*/
	position: relative;
	left: 155px;
	top: -204px;
}

#butt1 {
	/*+placement: 70px -265px;*/
	position: relative;
	left: 70px;
	top: -265px;
}

#gen {
	/*+placement: -4px 19px;*/
	position: relative;
	left: -4px;
	top: 19px;
}

#newaccount {
	/*+placement: -10px 2px;*/
	position: relative;
	left: -10px;
	top: 2px;
}
