<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkerManager</servlet-name>
    <servlet-class>MarkerManager</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>DefineElements</servlet-name>
    <servlet-class>DefineElements</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendsManager</servlet-name>
    <servlet-class>FriendsManager</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>AddFriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendList</servlet-name>
    <servlet-class>FriendList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowRequests</servlet-name>
    <servlet-class>ShowRequests</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AcceptFriend</servlet-name>
    <servlet-class>AcceptFriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkerManager</servlet-name>
    <url-pattern>/MarkerManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>defineElements</servlet-name>
    <url-pattern>/defineElements</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendsManager</servlet-name>
    <url-pattern>/FriendsManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/AddFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AcceptFriend</servlet-name>
    <url-pattern>/AcceptFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendList</servlet-name>
    <url-pattern>/FriendList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRequests</servlet-name>
    <url-pattern>/ShowRequests</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>